.topnav, h1 {
    background-color: pink;
    color:black;
    text-align: center;
    width: 100%;
 
}

* {
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: pink;
    overflow-x: hidden;
    padding-top: 20px;
}  

    
* button {
    display: block;
    padding: 10 px;

}